* text=auto

.aagh export-ignore
.editorconfig export-ignore
.gitattributes export-ignore
.gitignore export-ignore
.github export-ignore
.wordpress-org export-ignore
composer.* export-ignore
phpcs.xml export-ignore
update-data.json export-ignore
