parameters:
  level: 8
  paths:
    - %currentWorkingDirectory%
  excludePaths:
    analyse:
      - %currentWorkingDirectory%/dependencies?
    analyseAndScan:
      - %currentWorkingDirectory%/vendor
  scanDirectories:
    - %currentWorkingDirectory%/.cache/wordpress
    - %currentWorkingDirectory%/.cache/wordpress-tests-lib
  reportUnmatchedIgnoredErrors: false
  ignoreErrors:
    - '#Constant HOUR_IN_SECONDS not found#'
    - message: '#no value type specified in iterable type array#'
      path: includes/Walker.php
    - message: '#Access to an undefined property object::\$#'
      path: includes/Walker.php
