.fixed .column-at-feature {
	width: 10%;
	text-align: center;
}

.column-at-feature img {
	max-width: 64px;
	width: 100%;
	height: auto;
}

@media screen and ( max-width: 1100px ) and ( min-width: 782px ), ( max-width: 480px ) {
	.fixed .column-at-feature {
		width: 14%;
	}
}

.inline-edit-col .at-feature-image {
	margin-top: 0.8em;
}
