.at-sort th {
	font-weight: 600;
}

.wp-list-table .ui-sortable tr {
	cursor: move;
}

.wp-list-table .ui-sortable tr.ui-sortable-helper,
.wp-list-table .ui-sortable tr.ui-sortable-placeholder {
	border: dashed 2px #ddd;
}

.wp-list-table .ui-sortable tr.ui-sortable-placeholder {
	display: block;
}

.at-filters label {
	display: block;
	margin: 1em 0;
}

.at-filters span {
	display: block;
	margin-bottom: 0.5em;
	font-weight: 600;
}

.at-filters select {
	width: 100%;
}
