.wp-list-table .ui-sortable tr {
	cursor: move;
}

.wp-list-table .ui-sortable tr.ui-sortable-helper,
.wp-list-table .ui-sortable tr.ui-sortable-placeholder {
	border: dashed 2px #ddd;
}

.wp-list-table .ui-sortable tr.ui-sortable-placeholder {
	display: block;
}
